/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* colors */
:root {
  --primary-green-500: hsl(171, 66%, 44%);
  --primary-blue-100: hsl(233, 100%, 69%);

  --neutral-gray-700: hsl(210, 10%, 33%);
  --neutral-gray-500: hsl(201, 11%, 66%);
}


/* base */
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
}